h1{
    font-family: 'Caveat', cursive;
    font-size:6vw;

    /* justify-content: right; */
    /* transform: rotate(90deg);  */
}


/* NAV */
.main-nav{
    display: inline-block;
    font-family: 'Ovo', serif;
    font-size:0.7em;
    padding:1em;
    display:flex;
}

a{
    text-decoration: none;
    color:black;
}

ul {
    list-style: none;
}

h2,h3{
    font-family: 'Ovo', serif;
}